<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logdir" value="${basedir}\logs" />
  <extensions>
    <add assembly="NLog.Targets.FireDotNet"/>
  </extensions>
  <targets>
    <target name="a1" type="FireDotNet" />
    <target name="logfile" xsi:type="File" fileName="${logdir}\${shortdate}.txt" layout="${longdate} [${level:uppercase=true}] [${threadid}] callsite: ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=false} - stacktrace: ${stacktrace} - message: ${message}" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="a1"/>
    <logger name="*" minLevel="Trace" appendTo="logfile"/>
  </rules>
</nlog>