<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logdir" value="${basedir}\logs" />
  <extensions>
    <add assembly="NLog.Targets.FireDotNet"/>
  </extensions>
  <targets>
    <target name="firebugconsole" type="FireDotNet" allowRemote="false" />
    <target name="logfile" xsi:type="File" fileName="${logdir}\${shortdate}.txt" />
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="firebugconsole"/>
    <logger name="*" minLevel="Trace" appendTo="logfile"/>
  </rules>
</nlog>